doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Reporte de Accidentes | Polimetal
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
        link(rel="stylesheet" href="../style1.css")
         
    body 
        div(class="container")
            a(href="/") 
                div(style="text-align: center;")
                    img(src="./images/logo.jpg" alt="logo" class="img-fluid")
        
            div(style="text-align: center;")
                h2() Reporte de Siniestro
                img(src="camilla.png", alt="", class="img-fluid")
                a(href="/seguridad", style="display: inline")
                    img(src="./home.png") 
            div                                              
                h4(style="font-style: italic;") Identificacion
                hr
        
            form(class="row g-3" method="post" action="addAccident")
                input(type="hidden", name="idSector" value=idSector)
                div(class="col-md-4")
                    label(for="nombre" class="form-label") Nombre del Observador
                    input(type="text" class="form-control" id="detecto" name="nombre" required)
                
                div(class="col-md-4")
                    label(for="fecha" class="form-label") Fecha
                    input(type="date" class="form-control" id="fecha" name="fecha" required)
                
                div(class="col-md-4")
                    label(for="tipo" class="form-label") Tipo de Siniestro
                    select(id="tipo" class="form-select" name="tipo" required)
                        option(selected) Elejir un tipo...
                        option Accidente
                        option Incidente
                        option In Itinere
                       
               
                br
                div
                    h4(style="font-style: italic;") Descripcion
                    hr
                
                div(class="col-md-4")
                    label(for="que" class="form-label") Que?
                    input(type="text" class="form-control" id="que" name="que" required placeholder="¿Que ocurrio?")

                div(class="col-md-4")
                    label(for="cuando" class="form-label") Cuando?
                    input(type="text" class="form-control" id="cuando" name="cuando" required placeholder="¿En que momento y horario ocurrio?")

                div(class="col-md-4")
                    label(for="donde" class="form-label") Donde?
                    input(type="text" class="form-control" id="donde" name="donde" required placeholder="¿En que lugar ocurrio?")

                div(class="col-md-4")
                    label(for="quien" class="form-label") Quien?
                    input(type="text" class="form-control" id="quien" name="quien" required placeholder="¿A quien le sucedio?")

                div(class="col-md-4")
                    label(for="cual" class="form-label") Cual?
                    input(type="text" class="form-control" id="cual" name="cual" required placeholder="¿Que operacion estaba realizando?")   

                div(class="col-md-4")
                    label(for="como" class="form-label") Como?
                    input(type="text" class="form-control" id="como" name="como" required placeholder="¿Como ocurrio el siniestro?") 
                
                
                
                div(class="col-12")
                    label(for="descripcion" class="form-label") Descripcion del Problema
                    p(id="descripcion" name="descripcion" required)

                div(class="col-12")
                    label(for="observacion" class="form-label") Observaciones
                    input(type="text" class="form-control" id="observacion" placeholder="Ingrese si tiene alguna observacion" name="observacion" required)
                
                div(class="col-12")
                    input(type="submit" value="Guardar" class="button btn-primary")
            script. 
                

                let comoInput = document.getElementById("como");

                comoInput.addEventListener('change',(e)=>{
                    let descripcionInput = document.getElementById("descripcion");
                    
                    let que = document.getElementById("que").value;
                    let cuando = document.getElementById("cuando").value;
                    let donde = document.getElementById("donde").value;
                    let quien = document.getElementById("quien").value;
                    let cual = document.getElementById("cual").value;
                    let como = document.getElementById("como").value;

                    let contenido = que+" "+cuando+" "+donde+" "+quien+" "+cual+" "+como;
                    descripcionInput.innerHTML = contenido;
                    console.log(contenido);

                })


                
        footer 
            br 
            div(class="col-12")
                h6 &copy Copyright 2021 | Polimetal S.A
