
hr {
    background-color: #EE1907;
    height: 10px;
}
label {
    
    font-weight: bold;
    color: #EE1907;
}
footer {
    padding-top: 60px;
    text-align: center;
   
}
h6 {
    font-weight: bold;
}
th,td{
    text-align: center;
}
h2{
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
 }
 p{
    font-weight: bold;
    text-align: center;
    background-color: #EE1907;
    color: white;
 }
 h4{
     text-align: center;
 }
 #th{
     background-color: #377DB9;
     color: white;
     
 }
 #thmtto{
    background-color: #b93737;
    color: white;
    
}
#row{
    align-content: center;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    padding: 1rem 0.5rem;
}
.card-single{
    display: flex;
    justify-content: space-between; 
    padding: 2rem;
    background-image: radial-gradient(circle at 50% -20.71%, #edf3ff 0, #b5c9f2 50%, #79a1e2 100%);
    border-radius: 2rem;
    
}
.card-single span:first-child{
    font-size: 3rem;
    color:white
   
}
.card-single span:last-child{
    color: white;
}
